{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    <br>
    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required" autocomplete="current-password" />

    <input type="checkbox" class="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <br>
    <input type="submit" class="btn btn-lg btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" formnovalidate/>
</form>
