{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(routerForm) }}
    {{ form_row(routerForm.sapld) }}
    {{ form_row(routerForm.hostname) }}
    {{ form_row(routerForm.loopback) }}
    {{ form_row(routerForm.mac) }}
    {{ form_end(routerForm) }}
{% endblock %}

