{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px;">
        <a href="{{ path('router_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
    </div>
    <br><br>
    <table id="router" class="table table-striped">
        <thead>
        <tr>
            <th>Sapld</th>
            <th>Hostname</th>
            <th>Loopback</th>
            <th>Mac Address</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for router in routers %}
            <tr>
                <th scope="row">{{ router.sapld }}</th>
                <td><a href="{{ path('router_show', { id: router.id }) }}">{{ router.hostname }}</a></td>
                <td>{{ router.loopback }}</td>
                <td>{{ router.mac }}</td>
                <td>
                    <a href="{{ path('router_edit', { id: router.id }) }}" class="btn btn-xs btn-success">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="{{ path('router_delete', { id: router.id }) }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?')">
                        <span class="fa fa-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#router').DataTable();
        } );
    </script>
{% endblock %}