{% extends 'base.html.twig' %}

{% block body %}
    <table id="teams" class="table table-striped">
        <tr>
            <th>Sapld</th>
            <td>{{ router.sapld }}</td>
        </tr>
        <tr>
            <th>Hostname</th>
            <td>{{ router.hostname }}</td>
        </tr>
        <tr>
            <th>Loopback</th>
            <td>{{ router.loopback }}</td>
        </tr>
        <tr>
            <th>Mac Address</th>
            <td>{{ router.mac }}</td>
        </tr>
    </table>
{% endblock %}

