{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-1">Welcome To Router World!</h1>
    <p class="lead">If you are authorized then just login and CRUD router</p>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('router_list') }}" class="btn btn-info">Click Here For Routers</a>
    {% endif %}
{% endblock %}
